<!DOCTYPE html>
<html>

<head>
  <title>Active Faculty</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
  <style>  
    /* Custom style */
    .navbar {
      margin-bottom: 1rem;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="m-4">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">FMS</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse2">
            <div class="navbar-nav">
              <a href="/" class="nav-item nav-link active">Home</a>
              <a href="/file" class="nav-item nav-link active">Bulk UI</a>
              <a href="/filter" class="nav-item nav-link active">Filter</a>
              <a href="/test" class="nav-item nav-link active">Add Records</a>
              <a href="/viewrecords" class="nav-item nav-link active">View Records</a>
            </div>

          </div>
        </div>
      </nav>
      <div class="row">
        <h3>Filter Active Faculty Details</h3>
        <br />
        <div class="col-md-8">

          
          <form class="form-inline" action="/filteractive" method="post">
                <div class="input-group">
                    <!-- <div class="form-group mb-2 " >
                    <input type="text" class="form-control" name="faculty_name" placeholder="Faculty Name" />
                    </div>
                    <span class="input-group-addon">&ensp;</span> -->
                    <div class="form-group mb-2" >
                   <input type="number" class="form-control" name="from_pyear" required placeholder="From Year" />
                    </div>
                    <span class="input-group-addon">&ensp;</span>
                    <div class="form-group mb-2" >
                    <input type="number" class="form-control" name="to_pyear" required placeholder="To Year" />
                    </div>
                    <span class="input-group-addon">&ensp;</span>
                    <div class="form-group mb-2">
                       
                    <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                     
                </div>
                </form>
                <br/>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h3>
          <%= title %>
        </h3> 
        <p></p>
          <center>
            <button class="btn btn-success" onclick="ExportToExcel('xlsx')">
              Download Table
            </button>
          </center>
          <p></p>
        <div style="overflow-x: auto">
          <table id="tbl_exporttable_to_xls"
            class="table table-striped table-bordered table-sm table-info border border-dark" cellspacing="0"
            width="100%">
            <thead>
              <tr>
                <th>Faculty Id</th>
                <th>Name of the Faculty</th>
                <th>Date Of Birth</th>
                <th>Pan No</th>
                <th>Qualification</th>
                <th>Specialisation</th>
                <th>Phd University</th>
                <th>Joining Date</th>
                <th>Designation</th>
                <th>Designation Date</th>
                <th>Is Associated ?</th>
                <th>Asspciation Nature</th>
                <th>Relieving Date</th>
                <th>Pay Scale</th>
                <th>Experience</th>
                <th>Other Information</th>
                <th>Gender</th>
                <th>Aadhaar Number</th>
                <th>Mobile</th>
                <th>Alternate Mobile</th>
                <th>Email</th>
                <th>Alternate Email</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user){ %>
                <tr>
                  <td>
                    <%= user.Faculty_ID %>
                  </td>
                  <td>
                    <%= user.Faculty_Name %>
                  </td>
                  <td>
                    <%= user.DATE_OF_BIRTH %>
                  </td>
                  <td>
                    <%= user.PAN_no %>
                  </td>
                  <td>
                    <%= user.Qualification %>
                  </td>
                  <td>
                    <%= user.Specialization %>
                  </td>
                  <td>
                    <%= user.PHD_university %>
                  </td>
                  <td>
                    <%= user.joindate %>
                  </td>
                  <td>
                    <%= user.Designation %>
                  </td>
                  <td>
                    <%= user.desidate %>
                  </td>
                  <td>
                    <%= user.Is_associated %>
                  </td>
                  <td>
                    <%= user.Association_Nature %>
                  </td>
                  <td>
                    <%= user.relidate %>
                  </td>
                  <td>
                    <%= user.Pay_scale %>
                  </td>
                  <td>
                    <%= user.Experience %>
                  </td>
                  <td>
                    <%= user.Other_info %>
                  </td>
                  <td>
                    <%= user.Gender %>
                  </td>
                  <td>
                    <%= user.Aadhar_no %>
                  </td>
                  <td>
                    <%= user.Mobile %>
                  </td>
                  <td>
                    <%= user.Alternate_mobile %>
                  </td>
                  <td>
                    <%= user.email %>
                  </td>
                  <td>
                    <%= user.alternate_email %>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    
      function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById("tbl_exporttable_to_xls");
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl
          ? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
          : XLSX.writeFile(wb, fn || "datasheet." + (type || "xlsx"));
      }
    document.getElementById("submit").onclick = function () {
      var selected = [];
      for (var option of document.getElementById("filters").options) {
        if (option.selected) {
          selected.push(option.value);
        }
      }
      alert(selected);
    };
  </script>
</body>

</html>