<!DOCTYPE html>
<html>

<head>
  <title>Faculty Details</title>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.0.2/paper/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    /* Custom style */
    .navbar {
      margin-bottom: 1rem;
    }
  </style>
  <style id="appnedcss"></style>
</head>

<body>
  <div class="container">
    <div class="m-4">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">FMS</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse2">
            <div class="navbar-nav">
              <a href="/" class="nav-item nav-link active">Home</a>
              <a href="/file" class="nav-item nav-link active">Bulk UI</a>
              <a href="/filter" class="nav-item nav-link active">Filter</a>
              <a href="/test" class="nav-item nav-link active">Add Records</a>
              <a href="/viewrecords" class="nav-item nav-link active">View Records</a>
            </div>
          </div>
        </div>
      </nav>

      <div class="mx-auto" style="max-width: 100%">
        <center>
          <h2>
            <%= title %>
          </h2>
        </center>
        <p></p>
        <center><button class="button button2 btn btn-success" id="CSV">Download Table</button></center>
        </br><p></p>
        <div class="container">
          <div id="chkbtn">
            <div class="row">
              <div class="col">
                <div class="form-check-inline form-switch">
                  <input class="theader1 form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked
                    name="theader1">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Faculty_ID</label>
                </div>
              </div>
              <div class="col">
                <div class="form-check-inline form-switch">
                  <input class="form-check-input theader2" type="checkbox" id="flexSwitchCheckChecked" checked
                    name="theader2">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Conference_name</label>
                </div>
              </div>
              <div class="col">

                <div class="form-check-inline form-switch">
                  <input class="form-check-input theader3" type="checkbox" id="flexSwitchCheckChecked" checked
                    name="theader3">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Year</label>
                </div>
              </div>
              <div class="col">
                <div class="form-check-inline form-switch">
                  <input class="form-check-input theader4" type="checkbox" id="flexSwitchCheckChecked" checked
                    name="theader4">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Venue</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-check-inline form-switch">
                  <input class="form-check-input theader5" type="checkbox" id="flexSwitchCheckChecked" checked
                    name="theader5">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Title</label>
                </div>
              </div>
              <div class="col">
                <div class="form-check-inline form-switch">
                  <input class="form-check-input theader6" type="checkbox" id="flexSwitchCheckChecked" checked
                    name="theader6">
                  <label class="form-check-label" for="flexSwitchCheckChecked">ISBN_number</label>
                </div>
              </div>
              <div class="col">
                <div class="form-check-inline form-switch">
                  <input class="form-check-input theader7" type="checkbox" id="flexSwitchCheckChecked" checked
                    name="theader7">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Publisher_name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-check-inline form-switch">
                  <input class="form-check-input theader8" type="checkbox" id="flexSwitchCheckChecked" checked
                    name="theader8">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Link_first_page</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-check-inline form-switch">
                  <input class="form-check-input theader9" type="checkbox" id="flexSwitchCheckChecked" checked
                    name="theader9">
                  <label class="form-check-label" for="flexSwitchCheckChecked">From_Date</label>
                </div>
              </div>
              <div class="col">
                <div class="form-check-inline form-switch">
                  <input class="form-check-input theader10" type="checkbox" id="flexSwitchCheckChecked" checked
                    name="theader10">
                  <label class="form-check-label" for="flexSwitchCheckChecked">To_Date</label>
                </div>
              </div>
              <div class="col">
                <div class="form-check-inline form-switch">
                  <input class="form-check-input theader11" type="checkbox" id="flexSwitchCheckChecked" checked
                    name="theader11">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Page_numbers</label>
                </div>
              </div>
              <div class="col">
                <div class="form-check-inline form-switch">
                  <input class="form-check-input theader12" type="checkbox" id="flexSwitchCheckChecked" checked
                    name="theader12">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Category</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
              <div class="form-check-inline form-switch">
                <input class="form-check-input theader13" type="checkbox" id="flexSwitchCheckChecked" checked
                  name="theader13">
                <label class="form-check-label" for="flexSwitchCheckChecked">Scopus</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check-inline form-switch">
                <input class="form-check-input theader14" type="checkbox" id="flexSwitchCheckChecked" checked
                  name="theader14">
                <label class="form-check-label" for="flexSwitchCheckChecked">SCI</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check-inline form-switch">
                <input class="form-check-input theader15" type="checkbox" id="flexSwitchCheckChecked" checked
                  name="theader15">
                <label class="form-check-label" for="flexSwitchCheckChecked">No_of_Citations</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check-inline form-switch">
                <input class="form-check-input theader16" type="checkbox" id="flexSwitchCheckChecked" checked
                  name="theader16">
                <label class="form-check-label" for="flexSwitchCheckChecked">UGC_Listed</label>
              </div>
            </div>
            
          <div class="row">
            <div class="col">
              <div class="form-check-inline form-switch">
                <input class="form-check-input theader17" type="checkbox" id="flexSwitchCheckChecked" checked
                  name="theader17">
                <label class="form-check-label" for="flexSwitchCheckChecked">Others</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check-inline form-switch">
                <input class="form-check-input theader18" type="checkbox" id="flexSwitchCheckChecked" checked
                  name="theader18">
                <label class="form-check-label" for="flexSwitchCheckChecked">Certificate_link</label>
              </div>
            </div>
            <div class="col">
             
            </div>
            <div class="col">

            </div>
          </div> 
          </div>

        </div>
      </div>

      <p></p>
      <center>
        <br/>
        <div style="overflow-x: auto">
          <table id="dtHorizontalVerticalExample"
            class="table table-striped table-bordered table-sm table-warning border border-dark" cellspacing="0"
            width="100%">
            <thead>
              <tr>
                <th class="theader1" id="theader1">Faculty Id</th>
                <th class="theader2" id="theader2">Conference Name</th>
                <th class="theader3" id="theader3">Year</th>
                <th class="theader4" id="theader4">Venue</th>
                <th class="theader5" id="theader5">Title</th>
                <th class="theader6" id="theader6">ISBN Number</th>
                <th class="theader7" id="theader8">Publisher Name</th>
                <th class="theader8" id="theader9">Link First page</th>
                <th class="theader9" id="theader10">From Date</th>
                <th class="theader10" id="theader10">To Date</th>
                <th class="theader11" id="theader11">Page Numbers</th>
                <th class="theader12" id="theader12">Category</th>
                <th class="theader13" id="theader13">Scopus</th>
                <th class="theader14" id="theader14">SCI</th>
                <th class="theader15" id="theader15">No_of_Citations</th>
                <th class="theader16" id="theader16">UGC listed</th>
                <th class="theader17" id="theader17">Others</th>
                <th class="theader18" id="theader18">Certificate link</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user){ %>
                <tr>
                  <td class="theader1" id="theader1">
                    <%= user.Faculty_ID %>
                  </td>
                  <td class="theader2" id="theader2">
                    <%= user.Conference_name %>
                  </td>
                  <td class="theader3" id="theader3">
                    <%= user.year %>
                  </td>
                  <td class="theader4" id="theader4">
                    <%= user.venue %>
                  </td>
                  <td class="theader5" id="theader5">
                    <%= user.title %>
                  </td>
                  <td class="theader6" id="theader6">
                    <%= user.ISBN_number %>
                  </td>
                  <td class="theader7" id="theader7">
                    <%= user.publisher_name %>
                  </td>
                  <td class="theader8" id="theader8">
                    <%= user.link_first_page %>
                  </td>
                  <td class="theader9" id="theader9">
                    <%= user.ffdate %>
                  </td>
                  <td class="theader10" id="theader10">
                    <%= user.ttdate %>
                  </td>
                  <td class="theader11" id="theader11">
                    <%= user.page_numbers %>
                  </td>
                  <td class="theader12" id="theader12">
                    <%= user.category %>
                  </td>
                  <td class="theader13" id="theader13">
                    <%= user.scopus %>
                  </td>
                  <td class="theader14" id="theader14">
                    <%= user.sci %>
                  </td>
                  <td class="theader15" id="theader15">
                    <%= user.number_of_citations %>
                  </td>
                  <td class="theader16" id="theader16">
                    <%= user.ugclisted %>
                  </td>
                  <td class="theader17" id="theader17">
                    <%= user.others %>
                  </td>
                  <td class="theader18" id="theader18">
                    <%= user.certificate_link %>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  </div>
  <script>

    $(document).ready(function (e) {
      $("input:checkbox:not(:checked)").each(function () {
        var apndcss = "";
        var column = "table ." + $(this).attr("name");
        apndcss += column + "{display:none;}";
        $("#appnedcss").html(apndcss);
        console.log(apndcss);
      });

      $("#chkbtn").on("change", "input", function () {
        var apndcss = "";
        $("#chkbtn input:checkbox").each(function () {
          if ($(this).is(":not(:checked)")) {
            var column = "table ." + $(this).attr("name");
            apndcss += column + "{display:none;}";
          }
        });
        $("#appnedcss").html(apndcss);
      });
    });

    //Export As CSV
    function download_csv(csv, filename) {
      var csvFile;
      var downloadLink;

      // CSV FILE
      csvFile = new Blob([csv], { type: "text/csv" });

      // Download link
      downloadLink = document.createElement("a");

      // File name
      downloadLink.download = filename;

      // We have to create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);

      // Make sure that the link is not displayed
      downloadLink.style.display = "none";

      // Add the link to your DOM
      document.body.appendChild(downloadLink);

      // Lanzamos
      downloadLink.click();
    }

    function export_table_to_csv(html, filename) {
      var csv = [];
      var rows = document.querySelectorAll("table tr");

      for (var i = 0; i < rows.length; i++) {
        var row = [],
          cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
          if ($(cols[j]).is(":visible")) {
            row.push(
              cols[j].innerText[0] == "0"
                ? "'" + cols[j].innerText
                : cols[j].innerText
            );
          }
        csv.push(row.join(","));
      }

      // Download CSV
      download_csv(csv.join("\n"), filename);
    }

    document.querySelector("#CSV").addEventListener("click", function () {
      var html = document.querySelector("table").outerHTML;
      export_table_to_csv(html, "Code_Export.csv");
    });
  </script>
</body>

</html>

<!-- <!DOCTYPE html>
<html>

<head>
  <title>Faculty Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
   <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
  
  <style>
    /* Custom style */
    .navbar {
      margin-bottom: 1rem;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="m-4">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">FMS</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse2">
            <div class="navbar-nav">
              <a href="/" class="nav-item nav-link active">Home</a>
              <a href="/file" class="nav-item nav-link active">Bulk UI</a>
              <a href="/filter" class="nav-item nav-link active">Filter</a>
              <a href="/test" class="nav-item nav-link active">Add Records</a>
              <a href="/viewrecords" class="nav-item nav-link active">View Records</a>
            </div>

          </div>
        </div>
      </nav>



      <div class="mx-auto" style="max-width: 100%">
        <center>
          <h2>
            <%= title %>
          </h2>
        </center>
         <p></p>
          <center>
            <button class="btn btn-success" onclick="ExportToExcel('xlsx')">
              Download Table
            </button>
          </center>
          <p></p>
        <div style="overflow-x: auto">
          <table id="tbl_exporttable_to_xls"
            class="table table-striped table-bordered table-sm table-warning border border-dark" cellspacing="0"
            width="100%">
            <thead>
              <tr>
                <th>Faculty Id</th>
                <th>Conference Name</th>
                <th>Year</th>
                <th>Venue</th>
                <th>Title</th>
                <th>ISBN Number</th>
                <th>Publisher Name</th>
                <th>Link First page</th>
                <th>From Date </th>
                <th>To Date</th>
                <th>Page Numbers</th>
                <th>Category</th>
                <th>Scopus</th>
                <th>sci / webofscience</th>
                <th>Number of citations</th>
                <th>ugc listed</th>
                <th>Others</th>
                <th>Certificate link</th>
                
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user){ %>
                <tr>
                  <td>
                    <%= user.Faculty_ID %>
                  </td>
                  <td>
                    <%= user.Conference_name %>
                  </td>
                  <td>
                    <%= user.year %>
                  </td>
                  <td>
                    <%= user.venue %>
                  </td>
                  <td>
                    <%= user.title %>
                  </td>
                  <td>
                    <%= user.ISBN_number %>
                  </td>
                  <td>
                    <%= user.publisher_name %>
                  </td>
                  <td>
                    <a target="blank" href="<%= user.link_first_page %>"><%= user.link_first_page %></a>
                  </td>
                  <td>
                    <%= user.ffdate %>
                  </td>
                  <td>
                    <%= user.ttdate %>
                  </td>
                  <td>
                    <%= user.page_numbers %>
                  </td>
                  <td>
                    <%= user.category %>
                  </td>
                  <td>
                    <%= user.scopus %>
                  </td>
                  <td>
                    <%= user.sci %>
                  </td>
                  <td>
                    <%= user.number_of_citations %>
                  </td>
                  <td>
                    <%= user.ugclisted %>
                  </td>
                  <td>
                    <%= user.others %>
                  </td>
                  <td>
                    <a target="blank" href="<%= user.certificate_link %>"><%= user.certificate_link %></a>
                  </td>
                  
                </tr>
                <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
     function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById("tbl_exporttable_to_xls");
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl
          ? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
          : XLSX.writeFile(wb, fn || "datasheet." + (type || "xlsx"));
      }
    document.getElementById("submit").onclick = function () {
      var selected = [];
      for (var option of document.getElementById("filters").options) {
        if (option.selected) {
          selected.push(option.value);
        }
      }
      alert(selected);
    };
  </script>
</body>

</html> -->